


VITE_BASE_URL=https://developement.hrm-backend.interactivehr.co.uk/api
VITE_BASE_URL_FOR_CLIENT=https://developement.hrm-backend.interactivehr.co.uk
VITE_BASE_URL_FOR_IMAGES=https://developement.hrm-backend.interactivehr.co.uk
VITE_LIVE_SITE_URL=https://development.hrm.interactivehr.co.uk

VITE_GOOGLE_MAP_API=AIzaSyDz4_lORmoUdOKmYIe0iYEgnrhIV-pEzeQ
VITE_ENCRIPTION_KEY=AIyDz4_lORoUdO_KmYeiYgn_rhIEzeQ